@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'KenVector Future';
    src: url('../assets/fonts/kenvector_future.ttf') format('truetype');
}

@font-face {
    font-family: 'KenVector Future Thin';
    src: url('../assets/fonts/kenvector_future_thin.ttf') format('truetype');
}

body {
    font-family: 'KenVector Future', sans-serif;
    background-color: #2d2d2d;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container {
    text-align: center;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #ffffff;
}

.partners-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.partner img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.partner p {
    font-size: 1.2em;
    color: #ffffff;
}
